<!DOCTYPE html>
<html lang="en" ng-app="eventsApp">
<head>
    <title>Event Registration</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="/Content/app.css" />
    <style></style>
</head>
<body ng-cloak>
    <nav class="navbar navbar-inverse navbar-static-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand active" href="./EventDetails.html">Home</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="./NewEvent.html">New Event</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Aulas <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="./EventDetailsLearn.html">Aprendizado</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-left">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Your Name <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Account</a></li>
                            <li><a href="#">Billing</a></li>
                            <li><a href="#">Settings</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">Logoff</a></li>
                        </ul>
                    </li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <style>.form-control.ng-invalid.ng-dirty{background-color:pink;}</style>
    <div ng-controller="EditEventController" style="padding-left:20px; padding-right:20px">
        <div class="container">
            <h1>New Event</h1>
            <hr />
            <form name="newEventForm">
                <div class="form-group">
                    <label for="txtEventName">Event Name:</label>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" id="txtEventName" class="form-control" required ng-model="event.name" placeholder="Name of your event..." />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtEventDate">Event Date:</label>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" id="txtEventDate" class="form-control" required ng-pattern="/\d\d/\d\d/\d\d\d\d/" ng-model="event.date" placeholder="format (dd/mm/yyyy)..." />
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="txtEventTime">Event Time:</label>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" id="txtEventTime" class="form-control" ng-model="event.time" placeholder="start and end time..." />
                        </div>
                    </div>

                </div>
                <div class="form-group">
                    <label for="txtEventLocation">Event Location:</label>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" id="txtEventLocation" class="form-control" ng-model="event.location.address" placeholder="Address of event..." />
                        </div>

                    </div>
                </div>

                <br />
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            <input type="text" id="txtCity" class="form-control" ng-model="event.location.city" placeholder="City..." />
                        </div>
                        <div class="col-md-2">
                            <input type="text" id="txtProvince" class="form-control" ng-model="event.location.province" placeholder="Province..." />
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="txtEventImageUrl">Image:</label>
                    <div class="row">
                        <div class="col-md-4">
                            <input type="text" id="txtEventImageUrl" class="form-control" ng-model="event.imageUrl" placeholder="Url of image..." />
                        </div>
                    </div>
                </div>

                <img ng-src="{{event.imageUrl}}" />
                <br />
                <br />

                <button type="submit" ng-disabled="newEventForm.$invalid" ng-click="saveEvent(event, newEventForm)" class="btn btn-primary">Save</button>
                <button type="button" ng-click="cancelEdit()" class="btn btn-default">Cancel</button>
            </form>
        </div>
    </div>

    <script type="text/javascript" src="/Scripts/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="/Scripts/underscore.min.js"></script>
    <script type="text/javascript" src="/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Scripts/angular.js"></script>
    <script type="text/javascript" src="/Scripts/angular-sanitize.js"></script>
    <script type="text/javascript" src="/App/app.js"></script>
    <script type="text/javascript" src="/App/Controllers/EventController.js"></script>
    <script type="text/javascript" src="/App/Controllers/EditEventController.js"></script>
    <script type="text/javascript" src="/App/filters.js"></script>
</body>
</html>
